body {
  font-size: 14px;
  line-height:21px;
  font-family: "PT Sans",sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color:#333333;
  margin:0px;
}
h2 {
  font-size: 30px;
  line-height:24px;
  font-weight: bold;
  color: #000000;
}
h3 {
  font-size: 21px;
  line-height:21px;
  font-weight: bold;
  color: #000000;
}
/* */
.main-page-holder {
  width: 1200px;
  margin: 0px auto;
}
/*header style*/
.main-header {
  position: relative;
  height: 22px;
  padding-top: 17px;
  padding-bottom: 17px;
}
/* navigation */
.main-nav-list-left {
  float: left;
  padding: 0;
  font-size: 0px;
  text-align: center;
}
.main-nav-list-right{
  float: right;
  padding: 0;
  font-size: 0px;
  text-align: center;
}
.main-nav-item {
  display: inline-block;
  width: 240px;
  margin: 0;
  font-size: 14px;
}
.main-logo {
  position: absolute;
  top: 0px;
  left: 530px;
}
/*index page style */
/* welcome text */
.index-promo {
  width: 458px;
  margin-top: 76px;
  margin-left: auto;
  margin-bottom: 140px;
  margin-right: auto;
  }
  /* index title */
.reasons-title {
  width: 490px;
  margin-top: 140px;
  margin-right: auto;
  margin-bottom: 53px;
  margin-left: auto;
  text-align: center;
}
.main-title {
  margin-bottom: 30px;
  line-height: 26px;
}
/* 1-2 Reasons. Wide blocks with images */
.reason-block-left {
  font-size: 0px;
}
.reason-block-right {
  font-size: 0px;
}
.reason-block-decription {
  height: 256px;
  font-size: 14px;
}
.reason-block-decription h3 {
  width: 200px;
  margin-top: 54px;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
}
.reason-block-decription p {
  width: 303px;
  margin-right: auto;
  margin-left: auto;
}
/* House Food Souvenirs blocks */
.advantage-list {
  padding: 0px;
  font-size: 0px;
}
.advantage-list-item {
  height: 330px;
}
.advantage-list-item h3 {
  margin-top: 161px;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
}
.advantage-list-item p {
  width: 290px;
  margin-right: auto;
  margin-left: auto;
}
/* 3-5 reasons */
.reasons {
  padding: 0px;
  font-size: 0px;
}
.reason-item {
  height: 256px;
}
.reason-item h3 {
  width: 160px;
  margin-top: 46px;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
  padding: 0px;
}
.reason-item p {
  width: 275px;
  margin-right: auto;
  margin-left: auto;
}
/* search hotel block, search button and form*/
.index-search-hotel-block{
  padding-top: 56px;
  height: 235px;
  text-align: center;
}
.index-search-hotel-block h2 {
  margin-top: 0px;
  margin-bottom: 31px;
}
.index-search-hotel-block p {
  line-height: 24px;
}
.search-hotel-form {
  width:568px;
}
/* Hotels page */
.hotels-form-filter {
  height: 217px;
  font-size: 0px;
}
.hotels-tittle-sorting {
  height: 87px;
  font-size: 0px;
}
.hotels-result-item {
  height:151px;
  font-size: 0px;
}
/* footer style */
.main-footer {
  font-size: 0px;
}
.footer-copyright-logo {
  vertical-align: middle;
}
/* GRID */
/* clearfix for main-nav */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* index page grid (including footer grid) */
.layout-row {
  display:inline-block;
  width: 33.3%;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
}
.layout-row p {
  margin-bottom: 21px;
}
.layout-row-2-in-1 {
  display: inline-block;
  vertical-align:top;
}
/* Hotels page grid */
/* Hotels-form-filter grid */
.hotels-form-infrastructure {
  display:inline-block;
  width: 150px;
  height: inherit;
  margin: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 6%;
  border: none;
  font-size: 14px;
  vertical-align: top;
}
.hotels-form-hotel-type {
  display:inline-block;
  width: 363px;
  height: inherit;
  margin: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 1.25%;
  border: none;
  font-size: 14px;
  vertical-align: top;
}
.hotels-form-cost {
  display:inline-block;
  width: 528px;
  height: inherit;
  margin: 0px;
  padding-top: 0px;
  padding-right: 6%;
  padding-bottom: 0px;
  padding-left: 0px;
  border: none;
  font-size: 14px;
  text-align: right;
  vertical-align: top;
}
/* Sorting and search result grid */
.layout-row-left  {
  display:inline-block;
  width: 150px;
  height: inherit;
  margin: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 6%;
  font-size: 14px;
  vertical-align: top;
}
.layout-row-middle{
  display:inline-block;
  width: 651px;
  height: inherit;
  margin: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 1.25%;
  font-size: 14px;
  vertical-align: top;
}
.layout-row-right {
  display:inline-block;
  width: 240px;
  height: inherit;
  margin: 0px;
  padding-top: 0px;
  padding-right: 6%;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 14px;
  text-align: right;
  vertical-align: top;
}
